* {
    /*normalize*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
    line-height: 1.15;
}

body{
    background-color: #f2f2f2;
    overflow-x: hidden;

}
/*Estilos del NAV*/
nav {
    background-color: #0511f2;
    height: 4rem;
    position: fixed;
    width: 100vw;
    z-index: 10;
    top: 0;
    box-shadow: -4px 3px 6px #707070;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-list li {
    width: 40%;
    text-align: center;
}

.nav-list li a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: bold;
}

.nav-list li:hover{
    text-decoration: dashed;
}

.nav-list li a:active{
    transform: scale(1.3);
}
.nav-logo {
    height: 2.5rem;
    animation:rotation 1.5s;
}
.nav-logo:hover {
    animation:rotation 1.5s;
}

/* Estilos de sección de recepción */
main {
    margin-top: 4rem;
}
.receiver-section {
    height: 24rem;
    
    background-color: #f2f2f2;
    color: #0511f2;
    padding: .5rem .2rem;
}

.receiver-inner-container{
    width: 100%;
    height: 100%;
    border: .5rem double #0511f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
}

.receiver-header-container {
    display: flex;
    height: 5rem;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.receiver-header-container img {
    width: 2.5rem;
    height: 1rem;
}
.receiver-heading {
    font-weight: 800;
    font-size: 45px;
}

#receiver-p{
    cursor: pointer;
}

.logos-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.receiver-logo {
    animation: rotation 8s infinite linear;
    width: 8rem;
    height: 8rem;
    margin: 1rem 2%;
}

.logo-small{
    width: 4rem;
    height: 4rem;
    animation: rotation 4s infinite linear;
}


.receiver-paragraph {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

@media only screen and (min-width: 500px) {
    .receiver-section{
        padding: 1rem;
        margin-top:0;
    }
}

@media only screen and (min-width: 769px) {
    .receiver-heading{
        font-size: 60px;
    }
    .receiver-paragraph {
        font-size: 25px;
    }
    .receiver-logo{
        margin:0 4rem;
    }
}

/*Estilos de sección productos*/
.products-section{
    display:block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators button {
    filter: brightness(20%);
}

.carousel-item img{
    height:20rem;
}

.carousel-indicators button{
    color:#FFFFFF;
}

@media only screen and (min-width: 769px) {
    .carousel{
        width:50vw;
    }
    .carousel-item img{
        height:35rem;
    }
    .products-section{
        height:35rem;
        display:flex;
    }
    .carousel-caption{
        background-color: #0511f2;
        border: 3px solid #FFFFFF;
        border-radius: .5rem;
        box-shadow: 3px 3px 5px rgb(58, 58, 58);
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon,
    .carousel-indicators button {
        filter: none;
    }
}

/*Estilos de sección invitar a ecomerce*/
.ecommerce-section{
    display:block;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 2rem 5vw;
}
.ecommerce-text{
    text-align: center;
    color:#0511f2;
    padding: 0 1rem;
}
.ecommerce-link{
    color:#c7000a
}
.ecommerce-link:hover{
    color:#c7000a;
}

.ecommerce-logo-container{
  display:flex;
  justify-content:center;
}

.ecommerce-logo-container img{
    width:6rem;
    
}

#desktop-logo{
    display:none;
}

@media only screen and (min-width: 530px) {
    .ecommerce-section{
        display:flex;
    }
    .ecommerce-text{
        padding: 0 2rem;
    }
    
}

@media only screen and (min-width: 769px) {
    .ecommerce-section{
        height:10rem;
    }
    .ecommerce-logo-container{
        display:flex;
    }
    #desktop-logo{
        display:flex;
    }
}

/*Contacto section*/
.contact-section{
    padding:1rem;
}

.contact-form{
    display:Flex;
    flex-direction: column;

}

.form-group{
    margin-bottom: 1rem;
}

.contact-us-container{
    display:none;
}
@media only screen and (min-width: 769px){

    .contact-section{
        display:flex;
        justify-content:space-around;
    }
    .submit-button{
        width:fit-content;
        height:fit-content;
        padding: 1rem 2rem !important;
        font-size: 1.5rem !important;
        margin:auto;
    }

    .contact-us-container{
        display:flex;
        max-width: 30%;
        justify-content: center;
        align-items: center;
    }

    .contact-us-text{
        font-size: 1.5rem;
    }
}

/*Footer section*/
footer{
    height:15rem;
    background-color: #383838;
    color: #fffFFF ;
    padding:1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.3rem;
}
.bx{
    color: #fffFFF ;
    font-size: 2rem;
}

.contact-link{
    text-decoration: none;
}

.footer-logo{
    width:1.8rem;
    position:relative;
    bottom:.2rem;
}

@media only screen and (min-width: 769px){
   footer{
    flex-direction: row;
    height: 10rem;
    font-size: 2rem;
   }

   .left-container, .center-container, .right-container{
    display:flex;
    align-items: center;
    padding:2rem;
    }

    .bx{
        font-size: 3rem;
    }
}